body{
	margin: 0px;
}
.main{
	width: 100%;
	height: 100%;
}
/*==================title start====================*/
.title{
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: deepskyblue;
}
h4{
	margin: 0px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px!important;
}
/*==================title end====================*/

/*==================home start====================*/
.home{
	float: left;
	position: absolute;
	width: 100%;
	height: 40%;
	margin-top: 50px;
}

.home_img{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(../img/bg.png);
}
.home_content{
	margin-top: 180px!important;
	position: relative;
	width:100%;
}
.home_ul{
	text-align: center;
	padding: 0;
	width:25%;
	float: left;
	font-size: 10px;
}
.home_ul li{
	height:50px ;
	list-style-type: none;
	color: #000;
}
.home_item{
	text-align: left;
}

/*==================home end====================*/

.bg{
	float: left;
	position: relative;
	width: 100%;
	height: 15px;
	background: #EFEFF4;
}
/*==================icon start====================*/
.icon{
	width: 100%;
	height: 180px;
	position: relative;
	float: left;
}
.iconli{
	padding: 0!important;
}
.icon ul{
	margin: 0;
}
.icon li{
	font-size: 10px;
	margin: 10px 0 0 0;
	list-style-type: none;
	width: 25%;
	float: left;
}
.icon li a{
	color: #000000;
	text-decoration: none;
}
/*==================icon end====================*/
.bg2{
	float: left;
	position: relative;
	width: 100%;
	height: 90px;
	background: #EFEFF4;
}
/*==================bottom start====================*/

.bottom {
	position: fixed;
	width: 100%;
	height: 90px;
	bottom: 0;
}

/*==================bottom end====================*/